body {color: #2E4BF2;}
h1 {color: red; text-align: center;}
h2 {color: blue;}

head {text-align: center;}
p.ex1 {text-align: center; direction: rtl; font-size:18px; color: #37FF14;}
"November" {color: red}
